UnitOfWork.Design.Pattern/appsettings.Development.json
UnitOfWork.Design.Pattern/appsettings.json
UnitOfWork.Design.Pattern/bin
UnitOfWork.Design.Pattern/obj
UnitOfWork.Design.Pattern.BusinessLayer/bin
UnitOfWork.Design.Pattern.BusinessLayer/obj
UnitOfWork.Design.sln
.vscode